[Unit]
Description=Ritual da Aurora - GPU Performance e servicos essenciais
After=multi-user.target earlyoom.service
Wants=earlyoom.service

[Service]
Type=oneshot
ExecStart=/usr/bin/system76-power profile performance
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
